.jumbotron {
    background-color: yellow;
    color: black;
}

.card-hotel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-hotel .btn{
    width: 100%;
}

footer{
    margin-top: 30px;
}