.jumbotron {
    background-color: yellow;
    color: black;
}

.card-hotel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-hotel .btn{
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

footer div.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div.col p {
    margin: 0;
    
}