.jumbotron {
    background-color: yellow;
    color: black;
}

.card-hotel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-hotel .btn{
    width: 100%;
}

body > div.container{
    margin-bottom: 2vh;;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    overflow: hidden;
    margin-top: auto;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

footer div.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

footer div.col p {
    margin: 0;
    
}

.icon-text {
    padding-right: 0.5em;
}

.breadcrumb a {
    color: gray;
}

.breadcrumb a:hover {
    color: black;
}

textarea.form-control {
    resize: none;
}

.cardContainer {
    margin-bottom: 2vh;
}

.card {
    height: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-body .buy-info {
    margin-top: auto;
}

.card-header{
    position: absolute;
    background-color: rgba(211, 211, 211, 0.9);
    font-weight: bold;
    width: 100%;
    margin: 0 -1.25rem;
    text-align: center;
    color: darkred;
}

.jumbotron {
    display: flex;
    overflow: hidden;
    max-height: 230px;
    padding: 0;
}

nav {
    opacity: 0.8;
}

nav:hover{
    opacity: 1;
}


.jumbotron img{
    width: 100%;
}

.card .buy-info .btn{
    width: 100%;
}

.card .card-title {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card .container.img{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.card .container.img img{
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
}

.card .card-text {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}