.jumbotron {
    background-color: yellow;
    color: black;
}

.card-hotel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-hotel .btn{
    width: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    
}

footer .footer {
    margin-top: 2vh;
    background-color: black;
    color: white;
    width: 100%;
    overflow: hidden;
}

footer div.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div.col p {
    margin: 0;
    
}